.devPhoto {
  box-shadow:  4px 3px 3px black;
}

.shoppingcard {

}

.importRow {
  margin-bottom: 10px;
  display: flex;
}

.centerCol {
  margin: auto;
}

@media (min-width: 770px) {
  .shoppingcard {
    position: fixed;
    width: 290px;
    margin-right: 10px;
  }
}
