.activeRoute {
  // font-weight: bold;
}

.headerLink {
  font-size: 23px;
}

.headerLink:focus {
  font-size: 23px;
  text-decoration: none;
}

.shoppingcardCounter {
  color: lightgreen;
}

.heading {
  font-family: fantasy!important;
}
